<turbo-frame id="<%= dom_id @message %>">

<%= form_with model: @message do |form| %>
    <div class="ui reply form">
        <div class="field">
            <div class="ui action input">
                <%= form.text_field :content, placeholder: "Type a message...", value: "" %>
                <%= form.submit class:"ui button", id:"buttonSendMessage" %>
            </div>
        </div>
    </div>
<% end %>
</turbo-frame>